EMERGENCY_API_KEY=4c43df3e02201ef203e968fe1e00838e26f5eda0db4f07219c365e3878f35a9a

POSTGRES_HOST=your_supabase_host
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=your_supabase_user
POSTGRES_PASSWORD=your_supabase_password